*.class

# Package Files #
*/output
output
/bin
*/bin
.project
.classpath
.settings
tmp/
/eclipse/
*.pyc
*/.project
*/.settings
*.bak
*/.classpath
/.metadata
/data/
/.gradle/
*.iml
*.iws
*.ipr
.DS_Store
