# never check in class files
*.class

# eclipse output files
**/.project
**/.settings

#gradle output files
**/output
output
/bin
**/bin
.project
.classpath
.settings
tmp/
/eclipse/
*.pyc
*.bak
*/.classpath
/.metadata
/data/
/.gradle/
*.iml
*.iws
*.ipr
.DS_Store
