<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">
        <expression>
          e.level.toInt() &lt;= INFO.toInt()
        </expression>
      </evaluator>
      <OnMismatch>DENY</OnMismatch>
      <OnMatch>NEUTRAL</OnMatch>
    </filter>

    <encoder>
      <!-- %caller{1..2} becomes clickable in eclipse(and I think intellij too) so
           users can click right to where the statement is logged -->
      <pattern>%date{ISO8601} [%thread] %caller{1..2} %-4level: %message%n
      </pattern>
    </encoder>
  </appender>

  <!-- This is the BOMB for eclipse and intellij as warn and above logs 
       will show up in RED color which rocks!!! -->
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>warn</level>
    </filter>

    <encoder>
      <pattern>%date{ISO8601} [%thread] %caller{1..2} %-4level: %message%n
      </pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <!-- TBD for later use for apps that use log4jdbc 
       it doesn't hurt apps that don't use it -->
  <logger name="jdbc.sqlonly" level="INFO" />
  <logger name="jdbc.sqltiming" level="WARN" />
  <logger name="jdbc.audit" level="WARN" />
  <logger name="jdbc.resultset" level="WARN" />
  <logger name="jdbc.connection" level="WARN" />

  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="STDERR" />
  </root>
</configuration>
