apply plugin: 'application'
apply plugin: 'java'

repositories {
   jcenter()
   mavenCentral()
   maven {
      url "https://dl.bintray.com/deanhiller/maven"
   }

   //For testing locally...
   maven {
     url uri('/tmp/myRepo/')
   }
}

project.ext.webpiecesVersion = '${version}'

dependencies {
   compile 'org.webpieces:projectcreator:${version}'
}


mainClassName = "org.webpieces.projects.ProjectCreator"
applicationDefaultJvmArgs = ["-Dwebpieces.version=${version}"]
