plugins {
    id 'application'
}

repositories {
   mavenCentral()
   maven { url uri('/tmp/myRepo/') } // For testing locally...
}

project.ext.webpiecesVersion = '${version}'

dependencies {
   compile 'org.webpieces:projectcreator:${version}'
}


mainClassName = "org.webpieces.projects.ProjectCreator"
applicationDefaultJvmArgs = ["-Dwebpieces.version=${version}"]
